body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
.colors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#txt-color{
    font-size: 24px;
    font-weight: 800;
    margin: 20px;
}
#btn-color{
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(94, 211, 211), rgba(112, 7, 7, 0.493) 75%);
    cursor: pointer;
}